<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>About Rentaly</h5>
                    <p>Where quality meets affordability. We provide top-notch vehicles at minimum expense.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Contact Info</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i> 08 W 36th St, New York, NY</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i> +1 333 9296</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i> info@rentaly.com</span>
                        <span><i class="id-color fa fa-file-pdf-o fa-lg"></i> <a href="~/#">Download Brochure</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="~/#">About</a></li>
                    <li><a href="~/#">Blog</a></li>
                    <li><a href="~/#">Careers</a></li>
                    <li><a href="~/#">Partners</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Social Network</h5>
                    <div class="social-icons">
                        <a href="~/#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="~/#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="~/#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="~/#"><i class="fa fa-pinterest fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <div>&copy; 2025 - Rentaly by Designesia</div>
                    <ul class="menu-simple list-inline">
                        <li class="list-inline-item"><a href="~/#">Terms & Conditions</a></li>
                        <li class="list-inline-item"><a href="~/#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
