<header class="transparent scroll-light has-topbar">
    <div id="topbar" class="topbar-dark text-light">
        <div class="container">
            <div class="topbar-left xs-hide">
                <div class="topbar-widget">
                    <a href="#"><i class="fa fa-phone"></i> +208 333 9296</a>
                    <a href="#"><i class="fa fa-envelope"></i> info@rentaly.com</a>
                    <a href="#"><i class="fa fa-clock-o"></i> Mon - Fri 08.00 - 18.00</a>
                </div>
            </div>
            <div class="topbar-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div id="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="logo-1" src="~/images/logo-light.png" alt="Logo" />
                                <img class="logo-2" src="~/images/logo.png" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="menu-item" asp-controller="Cars" asp-action="Index">Cars</a></li>
                            <li><a class="menu-item" asp-controller="Booking" asp-action="Quick">Booking</a></li>
                            <li><a class="menu-item" asp-controller="Account" asp-action="Dashboard">My Account</a></li>
                            <li><a class="menu-item" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a class="menu-item" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a asp-controller="Account" asp-action="Login" class="btn-main">Sign In</a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
